In [1]:
#1.
def calculate_total_and_average():
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))
    num3 = float(input("Enter the third number: "))

    total = num1 + num2 + num3
    average = total / 3

    print("Total: {:.2f}".format(total))
    print("Average: {:.2f}".format(average))

calculate_total_and_average()

Enter the first number: 10
Enter the second number: 30
Enter the third number: 10
Total: 50.00
Average: 16.67

In [3]:
#2.
def calculate_tip_and_total():
    meal_price = float(input("Enter the price of the meal: ₱"))
    tip_percent = float(input("Enter the percent tip you want to leave: "))

    tip_amount = meal_price * (tip_percent / 100)
    total_bill = meal_price + tip_amount

    print("Tip amount: $%d" % tip_amount)
    print("Total bill with tip: $%d" % total_bill)

calculate_tip_and_total()

Enter the price of the meal: ₱100
Enter the percent tip you want to leave: 10
Tip amount: $10
Total bill with tip: $110

In [4]:
#3.
def cm_to_inches():
    length_cm = float(input("Enter a length in centimeters: "))

    if length_cm <= 0:
        print("Invalid entry. Please enter again.")
    else:
        inches = length_cm / 2.54

        print("Length in inches: {:.2f}".format(inches))

cm_to_inches()

Enter a length in centimeters: 100
Length in inches: 39.37

In [5]:
#4.
import math

def calculate_cylinder_properties():
    radius = float(input("Enter the radius of the cylinder: "))
    length = float(input("Enter the length of the cylinder: "))

    area = radius * radius * math.pi

    volume = area * length

    print("Area of the cylinder: {}".format(area))
    print("Volume of the cylinder: {}".format(volume))

calculate_cylinder_properties()

Enter the radius of the cylinder: 40
Enter the length of the cylinder: 21
Area of the cylinder: 5026.548245743669
Volume of the cylinder: 105557.51316061705

In [6]:
#5.
def feet_to_meters():
    feet = float(input("Enter a number in feet: "))

    meters = feet * 0.305

    print("The number in meters: %d" % meters)

feet_to_meters()

Enter a number in feet: 6
The number in meters: 1

In [7]:
#6.
def pounds_to_kilograms():
    pounds = float(input("Enter a number in pounds: "))

    kilograms = pounds * 0.454

    print("The number in kilograms: {}".format(kilograms))

pounds_to_kilograms()

Enter a number in pounds: 100
The number in kilograms: 45.4

In [8]:
#9.
def login_system():
    correct_password = "Lalisa321"

    tries = 0

    while tries < 5:
        password = input("Enter your password: ")

        if password == correct_password:
            print("You are logged in to the system.")
            return

        tries += 1
        print("Incorrect password. Please try again.")

    print("You are kicked off the system.")

login_system()

Enter your password: asd
Incorrect password. Please try again.
Enter your password: 2sd
Incorrect password. Please try again.
Enter your password: 2sdf
Incorrect password. Please try again.
Enter your password: vsasd
Incorrect password. Please try again.
Enter your password: Lalisa321
You are logged in to the system.

In [9]:
#10.
def kg_to_pounds():
    kg_to_pounds_factor = 2.20462

    while True:
        weight_kg = float(input("Enter a weight in kilograms: "))

        if weight_kg >= 0:
            weight_pounds = weight_kg * kg_to_pounds_factor

            print("Weight in pounds: {}".format(weight_pounds))
            break
        else:
            print("Invalid entry. Please enter a weight greater than or equal to 0.")

kg_to_pounds()

Enter a weight in kilograms: 50
Weight in pounds: 110.231

In [10]:
#11.
def calculate_average_grade():
    grades = {
        'math': 0,
        'english': 0,
        'history': 0,
        'science': 0,
        'filipino': 0
    }

    for subject in grades:
        grades[subject] = float(input("Enter the grade for {}: ".format(subject.capitalize())))

    total_grade = sum(grades.values())
    average_grade = total_grade / len(grades)

    print("Average grade: {:.2f}".format(average_grade))

calculate_average_grade()

Enter the grade for Math: 98
Enter the grade for English: 97
Enter the grade for History: 99
Enter the grade for Science: 95
Enter the grade for Filipino: 94
Average grade: 96.60

In [11]:
#12.
def peso_to_dollar():
    conversion_rate = 0.017

    amount_peso = float(input("Enter an amount in pesos: "))

    amount_dollar = amount_peso * conversion_rate

    print("Amount in dollars: %d" % amount_dollar)

peso_to_dollar()

Enter an amount in pesos: 5000
Amount in dollars: 85

In [12]:
#13.
def calculate_payroll():
    name = input("Enter employee's name: ")
    hours_worked = float(input("Enter number of hours worked in a week: "))
    hourly_rate = float(input("Enter hourly pay rate: "))
    deductions = float(input("Enter deductions: "))

    gross_pay = hours_worked * hourly_rate

    net_pay = gross_pay - deductions

    print("Employee's name: {}".format(name))
    print("Number of hours worked in a week: {}".format(hours_worked))
    print("Hourly pay rate: {}".format(hourly_rate))
    print("Gross Pay: {}".format(gross_pay))
    print("Deductions: {}".format(deductions))
    print("Net Pay: {}".format(net_pay))

calculate_payroll()

Enter employee's name: John
Enter number of hours worked in a week: 28
Enter hourly pay rate: 250
Enter deductions: 300
Employee's name: John
Number of hours worked in a week: 28.0
Hourly pay rate: 250.0
Gross Pay: 7000.0
Deductions: 300.0
Net Pay: 6700.0

In [13]:
#14.
def reverse_string(input_string):
    reversed_string = ""

    for char in input_string[::-1]:
        reversed_string += char

    return reversed_string

input_string = input("Enter a string: ")

reversed_string = reverse_string(input_string)

print("Reversed string: {}".format(reversed_string))

Enter a string: Good Morning
Reversed string: gninroM dooG

In [23]:
#15.
def print_even_numbers(input_list):
    even_numbers = []

    for num in input_list:
        if num % 2 == 0:
            even_numbers.append(num)

    print("Even numbers from the list: {}".format(even_numbers))

L = [4,78,23,66,23,89,56,21,2]

print_even_numbers(L)

Even numbers from the list: [4, 78, 66, 56, 2]

In [22]:
#16.
def is_palindrome(input_string):
    input_string = input_string.lower().replace(" ", "")

    if input_string == input_string[::-1]:
        return True
    else:
        return False

input_string = input("Enter a string: ")

if is_palindrome(input_string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: racecar
The string is a palindrome.

In [24]:
#17.
def find_largest_item(input_list):
    if not input_list:
        print("The list is empty.")
        return None

    largest_item = input_list[0]

    for item in input_list:

        if item > largest_item:
            largest_item = item

    print("Largest item in the list: {}".format(largest_item))
    return largest_item

x = [4, 6, 8, 24, 12, 2]

find_largest_item(x)

Largest item in the list: 24

24

In [27]:
#18.
def even(num):
    if num % 2 == 0:
        return True
    else:
        return False

num = int(input("Enter a number: "))

if even(num):
    print("The number {} is even.".format(num))
else:
    print("The number {} is not even.".format(num))

Enter a number: 33
The number 33 is not even.

In [28]:
#19.
def sum(low, high):
    total_sum = 0

    for num in range(low, high + 1):
        total_sum += num

    return total_sum

low = int(input("Enter the low number: "))
high = int(input("Enter the high number: "))

result = sum(low, high)

print("Sum of numbers between {} and {}: {}".format(low, high, result))

Enter the low number: 19
Enter the high number: 87
Sum of numbers between 19 and 87: 3657

In [31]:
#20.
def f_1(number):
    return number + 5

def f_2(number):
    return f_1(number) * 2

number = int(input("Enter a number: "))

result_f1 = f_1(number)
result_f2 = f_2(number)

print("Result of f_1 function with input {}: {}".format(number, result_f1))
print("Result of f_2 function with input {}: {}".format(number, result_f2))

Enter a number: 88
Result of f_1 function with input 88: 93
Result of f_2 function with input 88: 186

In [32]:
#21.
def sum_of_list(numbers):
    total_sum = 0

    for num in numbers:
        total_sum += num

    return total_sum

numbers = [73,15,42,88,29,50,6,63,97,12]

result = sum_of_list(numbers)

print("Sum of numbers in the list: %d" % result)

Sum of numbers in the list: 475

In [33]:
#22.
def multiply_all(numbers):
    result = 1

    for num in numbers:
        result *= num

    return result

numbers = [73,15,42,88,29,50,6,63,97,12]

product = multiply_all(numbers)

print("Product of numbers in the list:", product)

Product of numbers in the list: 2582015613408000

In [34]:
#23.
def hotel_cost(nights):
    total_cost = 140 * nights

    return total_cost

nights = int(input("Enter the number of nights: "))

total_cost = hotel_cost(nights)

print("Total cost for {} nights: {}".format(nights, total_cost))

Enter the number of nights: 4
Total cost for 4 nights: 560

In [35]:
#24.
def plane_ride_cost(country):
    destinations = {
        "Japan": 18300,
        "South Korea": 22000,
        "Canada": 22200,
        "Los Angeles": 47500
    }

    if country in destinations:
        return destinations[country]
    else:
        return "Invalid destination"

destination_country = input("Enter the destination country: ")

price = plane_ride_cost(destination_country)

print("Round-trip price for {}: {}".format(destination_country, price))

Enter the destination country: Canada
Round-trip price for Canada: 22200

In [41]:
#26.
def shut_down(s):
    if s == "yes":
        return "Shutting down"
    elif s == "no":
        return "Shutdown aborted"
    else:
        return "Sorry"

response = input("Enter 'yes' to shut down or 'no' to abort: ")

print("%s" % shut_down(response))

Enter 'yes' to shut down or 'no' to abort: dsa
Sorry

In [42]:
#26.
def squares_list():
    squares = [x ** 2 for x in range(1, 31)]

    print("List of squares of numbers between 1 and 30:")
    for index, square in enumerate(squares):
        print("{}: {}".format(index + 1, square))

squares_list()

List of squares of numbers between 1 and 30:
1: 1
2: 4
3: 9
4: 16
5: 25
6: 36
7: 49
8: 64
9: 81
10: 100
11: 121
12: 144
13: 169
14: 196
15: 225
16: 256
17: 289
18: 324
19: 361
20: 400
21: 441
22: 484
23: 529
24: 576
25: 625
26: 676
27: 729
28: 784
29: 841
30: 900